<header class="wf-chrome wf-header">
<div data-animation="default" class="navbar10_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="a9a34a3e-3e33-0b8a-ac00-1e6778c202aa" role="banner" data-duration="400" id="nav">
  <div class="navbar10_container">
    <a href="/" aria-current="page" class="navbar10_logo-link w-nav-brand w--current" aria-label="home"><img loading="lazy" src="{{ 'logo-fountain-only.svg' | asset_url }}" alt="" class="navbar10_logo"></a>
    <nav role="navigation" class="navbar10_menu w-nav-menu">
      <div class="navbar10_menu-left">
        <div data-delay="300" data-hover="true" data-w-id="a9a34a3e-3e33-0b8a-ac00-1e6778c202b0" class="navbar10_menu-dropdown w-dropdown">
          <div class="navbar10_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
            <a href="/our-story/our-story" class="navbar10_dropdown-link w-inline-block"><div>Our Story</div></a>
            <div class="dropdown-chevron w-embed">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="#FAF7F2" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="#FAF7F2"></path></svg>
            </div>
          </div>
          <nav class="navbar10_dropdown-list w-dropdown-list" id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
            <div class="navbar10_container">
              <div class="navbar10_dropdown-content">
                <div class="navbar10_dropdown-content-left">
                  <div class="navbar10_dropdown-column">
                    <div class="navbar10_dropdown-link-list">
                      <a href="/our-story/our-story" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Waterford Story</div></a>
                      <a href="/our-story/the-waterford-way" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>The Waterford Way</div></a>
                      <a href="/our-story/our-winemaking" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Winemaking</div></a>
                      <a href="/our-story/our-farming-practices" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Farming Practices</div></a>
                      <a href="/our-story/our-history" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>History</div></a>
                      <a href="/our-story/our-achievements" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Achievements</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div data-delay="300" data-hover="true" data-w-id="a9a34a3e-3e33-0b8a-ac00-1e6778c202cd" class="navbar10_menu-dropdown is-static w-dropdown">
          <div class="navbar10_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-1" aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
            <a href="/collections/all" class="navbar10_dropdown-link w-inline-block"><div>Shop</div></a>
            <div class="dropdown-chevron w-embed">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="#FAF7F2"></path></svg>
            </div>
          </div>
          <nav class="navbar10_dropdown-list is-full w-dropdown-list" id="w-dropdown-list-1" aria-labelledby="w-dropdown-toggle-1">
            <div class="navbar10_container is-full">
              <div class="navbar10_dropdown-content is-full">
                <div class="navbar10_dropdown-content-left is-extended is-full">
                  <div class="navbar10_dropdown-column">
                    <a href="/collections/red-wine" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Red Wine</div></a>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/products/waterford-estate-the-jem" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>The Jem</div></a>
                      <a href="/products/cabernet-sauvignon" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Estate Cabernet Sauvignon</div></a>
                      <a href="/products/waterford-estate-grenache-noir-single-vineyard" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Estate Grenache</div></a>
                      <a href="/products/kevin-arnold-shiraz" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Kevin Arnold Shiraz</div></a>
                      <a href="/products/antigo" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Waterford Antigo</div></a>
                      <a href="/products/pecan-stream-pebble-hill" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Pecan Stream Pebble Hill</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <a href="/collections/white-wine" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">White Wine</div></a>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/products/waterford-estate-chardonnay-single-vineyard" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Estate Chardonnay</div></a>
                      <a href="/products/old-vine-project-chenin-blanc-1" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>OVP Chenin blanc</div></a>
                      <a href="/products/waterford-heatherleigh" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Waterford Heatherleigh</div></a>
                      <a href="/products/pecan-stream-sauvignon-blanc" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Pecan Stream Sauvignon blanc</div></a>
                      <a href="/products/pecan-stream-chenin-blanc-1" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Pecan Stream Chenin blanc</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <div class="margin-bottom">
                      <a href="/collections/rose" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Rosé</div></a>
                    </div>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/products/waterford-rose-mary" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Waterford Rose-Mary</div></a>
                      <a href="/collections/sparkling" class="navbar10_dropdown-link-2 line-normal w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Sparkling</div></a>
                      <a href="/products/waterford-cap-classique" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Blanc de Blancs Cap Classique</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <div class="margin-bottom-5">
                      <a href="/collections/mixed-cases" class="navbar10_dropdown-link-2 line-normal w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Mixed Cases</div></a>
                    </div>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/products/waterford-shiraz-mixed-case-1" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Shiraz vs Syrah</div></a>
                      <a href="/products/waterford-cabernet-mixed-case-1" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>A Variety of Cabernet</div></a>
                      <a href="/products/waterford-white-wine-mixed-case-1" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>White Wine Selection</div></a>
                      <a href="/products/waterford-red-wine-mixed-case-1" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Red Wine Selection</div></a>
                      <a href="/products/waterford-cellar-selection-1" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Cellar Selection</div></a>
                      <a href="/products/waterford-seasonal-mixed-case-1" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Seasonal Case</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <div class="margin-bottom">
                      <a href="/collections/ranges" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Ranges</div></a>
                    </div>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/collections/estate-range" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Estate Range</div></a>
                      <a href="/collections/waterford-range" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Waterford Range</div></a>
                      <a href="/collections/pecan-stream-range" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Pecan Stream Range</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <div class="margin-bottom">
                      <a href="/collections/larger-formats" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Larger Formats</div></a>
                    </div>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/collections/magnum" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Magnum | 1.5 litre</div></a>
                      <a href="/collections/jeroboam" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Jeroboam | 3 litre</div></a>
                      <a href="/collections/bordeaux-jeroboam" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Bordeaux Jeroboam | 5 litre</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <div class="margin-bottom">
                      <a href="/collections/gifting" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Gifting</div></a>
                    </div>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/collections/gift-sets" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Gift Sets</div></a>
                      <a href="/collections/vouchers" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Vouchers</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <div class="margin-bottom">
                      <a href="/collections/international-orders" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">International Orders</div></a>
                    </div>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/collections/international-orders" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>UK | Europe | USA</div></a>
                      <a href="/collections/international-orders" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Other Countries</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div data-delay="300" data-hover="true" data-w-id="a9a34a3e-3e33-0b8a-ac00-1e6778c20358" class="navbar10_menu-dropdown w-dropdown">
          <div class="navbar10_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-2" aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
            <a href="/reservations/reservations-main" class="navbar10_dropdown-link w-inline-block"><div>Reservations</div></a>
            <div class="dropdown-chevron w-embed">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="#FAF7F2"></path></svg>
            </div>
          </div>
          <nav class="navbar10_dropdown-list w-dropdown-list" id="w-dropdown-list-2" aria-labelledby="w-dropdown-toggle-2">
            <div class="navbar10_container">
              <div class="navbar10_dropdown-content">
                <div class="navbar10_dropdown-content-left is-extended">
                  <div class="navbar10_dropdown-column">
                    <a href="/reservations/tasting-room" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Tasting Room</div></a>
                    <div class="navbar10_dropdown-link-list">
                      <a href="https://www.waterfordestate.co.za/reservations/tasting-room#cellar-collection" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>The Cellar Collection</div></a>
                      <a href="https://www.waterfordestate.co.za/reservations/tasting-room#portfolio-experience" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Portfolio Experience</div></a>
                      <a href="https://www.waterfordestate.co.za/reservations/tasting-room#wine-choc-experience" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Wine &amp; Chocolate Experience</div></a>
                      <a href="https://www.waterfordestate.co.za/reservations/tasting-room#jem-experience" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>The Jem Experience</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <a href="/experiences" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Experiences</div></a>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/reservations/wine-drive-safari" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Wine Drive Safari</div></a>
                      <a href="/reservations/porcupine-trail-wine-walk" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Porcupine Trail Wine Walk</div></a>
                    </div>
                  </div>
                  <div class="navbar10_dropdown-column">
                    <div class="margin-bottom">
                      <a href="/reservations/restaurant" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Restaurant</div></a>
                    </div>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/reservations/restaurant" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Dine at Waterford Estate</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div data-delay="300" data-hover="true" data-w-id="a9a34a3e-3e33-0b8a-ac00-1e6778c2038b" class="navbar10_menu-dropdown w-dropdown">
          <div class="navbar10_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-3" aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
            <a href="/events/events-main" class="navbar10_dropdown-link w-inline-block"><div>Events</div></a>
            <div class="dropdown-chevron w-embed">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="#FAF7F2"></path></svg>
            </div>
          </div>
          <nav class="navbar10_dropdown-list w-dropdown-list" id="w-dropdown-list-3" aria-labelledby="w-dropdown-toggle-3">
            <div class="navbar10_container is-auto-w">
              <div class="navbar10_dropdown-content">
                <div class="navbar10_dropdown-content-left is-extended">
                  <div class="navbar10_dropdown-column">
                    <div class="navbar10_dropdown-link-list">
                      <a href="/events/events-main" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Event Options</div></a>
                      <a href="https://www.waterfordestate.co.za/events/events-main#venue-hire" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Venue Hire</div></a>
                      <a href="https://www.waterfordestate.co.za/events/events-main#corporate-functions" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Corporate Functions</div></a>
                      <a href="https://www.waterfordestate.co.za/events/events-main#photo-shoots" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Photo Shoots</div></a>
                      <a href="https://www.waterfordestate.co.za/events/events-main#Intimate-Dining" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Private Lunch</div></a>
                      <a href="https://www.waterfordestate.co.za/events/events-main#Intimate-Dining" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Private Dinner</div></a>
                      <a href="https://www.waterfordestate.co.za/events/events-main#Events" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Upcoming Events</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div data-delay="300" data-hover="true" data-w-id="a9a34a3e-3e33-0b8a-ac00-1e6778c203ab" class="navbar10_menu-dropdown w-dropdown">
          <div class="navbar10_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-4" aria-controls="w-dropdown-list-4" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
            <a href="/membership/waterford-society" class="navbar10_dropdown-link w-inline-block"><div>Members</div></a>
            <div class="dropdown-chevron w-embed">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="#FAF7F2"></path></svg>
            </div>
          </div>
          <nav class="navbar10_dropdown-list w-dropdown-list" id="w-dropdown-list-4" aria-labelledby="w-dropdown-toggle-4">
            <div class="navbar10_container">
              <div class="navbar10_dropdown-content">
                <div class="navbar10_dropdown-content-left is-extended">
                  <div class="navbar10_dropdown-column">
                    <div class="navbar10_dropdown-link-list">
                      <a href="/membership/waterford-society" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Waterford Society</div></a>
                      <a href="https://www.waterfordestate.co.za/membership/waterford-society#benefits" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Benefits</div></a>
                      <a href="https://www.waterfordestate.co.za/membership/waterford-society#join" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Join</div></a>
                      <a href="https://www.waterfordestate.co.za/membership/waterford-society#library-collection" class="navbar10_dropdown-link w-inline-block" tabindex="0"><div>Library Collection</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div data-delay="300" data-hover="true" data-w-id="a9a34a3e-3e33-0b8a-ac00-1e6778c203cd" class="navbar10_menu-dropdown is-static w-dropdown">
          <div class="navbar10_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-5" aria-controls="w-dropdown-list-5" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
            <a href="/journal/journal-main" class="navbar10_dropdown-link w-inline-block"><div>Journal</div></a>
            <div class="dropdown-chevron w-embed">
              <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="#FAF7F2"></path></svg>
            </div>
          </div>
          <nav class="navbar10_dropdown-list is-full w-dropdown-list" id="w-dropdown-list-5" aria-labelledby="w-dropdown-toggle-5">
            <div class="navbar10_container">
              <div class="navbar10_dropdown-content">
                <div class="navbar10_dropdown-content-left">
                  <div class="navbar10_dropdown-column">
                    <div class="margin-bottom">
                      <a href="/journal/journal-main" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div class="text-size-small text-weight-semibold text-color-primary">Journal</div></a>
                    </div>
                    <div class="navbar10_dropdown-link-list">
                      <a href="/journal/podcast" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Podcast</div></a>
                      <a href="/journal/blog" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>Blog</div></a>
                      <a href="/journal/in-the-press" class="navbar10_dropdown-link line-normal w-inline-block" tabindex="0"><div>In the Press</div></a>
                    </div>
                  </div>
                </div>
                <div class="navbar10_dropdown-content-right max-width-xlarge">
                  <div class="navbar10_blog-list-wrapper">
                    <div role="list" class="navbar10_blog-list is-mobile-nav">
                      <div role="listitem">
                        <a href="https://www.marksmeanderings.com/waterford-estate-offers-a-unique-way-to-taste-their-wine/" class="navbar10_blog-item w-inline-block" tabindex="0">
                          <div class="navbar10_blog-item-image-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/673aabee9ababb22e62e1708/69d4e1c7641c7ea75d3bedb7_IMG_0759-scaled.jpg" alt="" class="navbar10_blog-item-image"></div>
                          <div class="navbar10_blog-item-content">
                            <div class="margin-bottom margin-xsmall"><div class="text-weight-semibold text-color-white">Mark's Meandering's at Waterford Estate</div></div>
                            <p class="text-size-small text-color-white three-lines">Then we were fully immersed in the wine experience that is Waterford Estate. We enjoyed the perfect afternoon as we were able to sip on some world class wines in the most picturesque environment. Waterford Estate offered the perfect picture of Stellenbosch's famous wine region.</p>
                            <div class="margin-top"><div class="text-style-link">Read more</div></div>
                          </div>
                        </a>
                      </div>
                      <div role="listitem">
                        <a href="https://www.netwerk24.com/leefstyl/kos-en-wyn/mine-wine-toppresteerders-in-twee-bedrywe-vereer-20260226-0883" class="navbar10_blog-item w-inline-block" tabindex="0">
                          <div class="navbar10_blog-item-image-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/673aabee9ababb22e62e1708/69b12fb68d1353eb0b3a8973_Waterford%20Estate%20Cabernet.jpg" alt="" class="navbar10_blog-item-image"></div>
                          <div class="navbar10_blog-item-content">
                            <div class="margin-bottom margin-xsmall"><div class="text-weight-semibold text-color-white">Mine &amp; Wine: Top performers in two industries honoured</div></div>
                            <p class="text-size-small text-color-white three-lines">The Estate Cabernet Sauvignon 2019 is a pure expression of the Helderberg terroir and is made exclusively from estate-grown grapes. Recently, it was also crowned as the leading Cabernet Sauvignon at the Mine &amp; Wine Awards.</p>
                            <div class="margin-top"><div class="text-style-link">Read more</div></div>
                          </div>
                        </a>
                      </div>
                      <div role="listitem">
                        <a href="https://news.wine.co.za/News.aspx?NEWSID=45492&amp;CLIENTID=3112" class="navbar10_blog-item w-inline-block" tabindex="0">
                          <div class="navbar10_blog-item-image-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/673aabee9ababb22e62e1708/6863e6380405eee179cc0fe5_WATERFORD-98.avif" alt="" class="navbar10_blog-item-image"></div>
                          <div class="navbar10_blog-item-content">
                            <div class="margin-bottom margin-xsmall"><div class="text-weight-semibold text-color-white">Waterford Estate and the 2021 Single Vineyard Chardonnay</div></div>
                            <p class="text-size-small text-color-white three-lines">Waterford Estate releases the 2021 Estate Single Vineyard Chardonnay, a wine that pays homage to the rich history of our vineyards and the remarkable terroir of the Helderberg.</p>
                            <div class="margin-top"><div class="text-style-link">Read more</div></div>
                          </div>
                        </a>
                      </div>
                      <div role="listitem">
                        <a href="https://insideguide.co.za/cape-town/wines/waterford-antigo/" class="navbar10_blog-item w-inline-block" tabindex="0">
                          <div class="navbar10_blog-item-image-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/673aabee9ababb22e62e1708/6853b2b06121e9665737fb5f_WATERFORD%20ESTATE00047.avif" alt="" class="navbar10_blog-item-image"></div>
                          <div class="navbar10_blog-item-content">
                            <div class="margin-bottom margin-xsmall"><div class="text-weight-semibold text-color-white">Wine of the Week: Waterford Antigo 2021</div></div>
                            <p class="text-size-small text-color-white three-lines">The story of the creation of this new wine, now in its third vintage, is all about the soils. When the previous planting of Sauvignon Blanc was replaced, it was a no-brainer what to plant. "We're in Stellenbosch and Cabernet is king," Mark says.</p>
                            <div class="margin-top"><div class="text-style-link">Read more</div></div>
                          </div>
                        </a>
                      </div>
                      <div role="listitem">
                        <a href="https://wineland.co.za/waterford-antigo-a-tale-of-two-soils/" class="navbar10_blog-item w-inline-block" tabindex="0">
                          <div class="navbar10_blog-item-image-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/673aabee9ababb22e62e1708/6853b9642c2220a9d686d2b1_WATERFORD%20ESTATE%20pt200043.avif" alt="" class="navbar10_blog-item-image"></div>
                          <div class="navbar10_blog-item-content">
                            <div class="margin-bottom margin-xsmall"><div class="text-weight-semibold text-color-white">Waterford Antigo – A tale of two soils</div></div>
                            <p class="text-size-small text-color-white three-lines">Grown in rich red clay soils, the vineyard that produces our Antigo sits less than 300 meters from the block that grows the Estate's signature Cabernet Sauvignon. While the distance may be small, the difference in terroir and the resulting wines is vast.</p>
                            <div class="margin-top"><div class="text-style-link">Read more</div></div>
                          </div>
                        </a>
                      </div>
                      <div role="listitem">
                        <a href="https://news.wine.co.za/news.aspx?NEWSID=44749" class="navbar10_blog-item w-inline-block" tabindex="0">
                          <div class="navbar10_blog-item-image-wrapper"><img loading="lazy" src="https://cdn.prod.website-files.com/673aabee9ababb22e62e1708/67a99bd3a08d06aea7f49e29_1.avif" alt="" class="navbar10_blog-item-image"></div>
                          <div class="navbar10_blog-item-content">
                            <div class="margin-bottom margin-xsmall"><div class="text-weight-semibold text-color-white">The Jem: Waterford Estate's ultimate expression of craftsmanship and terroir</div></div>
                            <p class="text-size-small text-color-white three-lines">The Jem, a masterful blend of heritage, sustainability, and craftsmanship, reflecting decades of dedication and South Africa's place on the global wine stage.</p>
                            <div class="margin-top"><div class="text-style-link">Read more</div></div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="navbar10_menu-right">
        <a href="https://waterford-estate.myshopify.com/account/login" target="_blank" class="button is-small _wf-cart-btn w-inline-block">
          <div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12q-1.65 0-2.825-1.175T8 8t1.175-2.825T12 4t2.825 1.175T16 8t-1.175 2.825T12 12m-8 8v-2.8q0-.85.438-1.562T5.6 14.55q1.55-.775 3.15-1.162T12 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20z"></path></svg></div>
          <div>Login</div>
        </a>
        <a href="/contact" class="button is-small">Get in Touch</a>
      </div>
    </nav>

    <div class="navbar10_menu-button w-nav-button" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
      <div class="menu-icon5">
        <div class="menu-icon1_line-top"></div>
        <div class="menu-icon1_line-middle"><div class="menu-icon1_line-middle-inner"></div></div>
        <div class="menu-icon1_line-bottom"></div>
      </div>
    </div>
  </div>
  <div class="w-nav-overlay" id="w-nav-overlay-0"></div>
</div>
</header>

{% schema %}
{
  "name": "WF Header",
  "class": "section-waterford-header",
  "settings": []
}
{% endschema %}